@import 'theme/main';

.items {
  width: 500px;
  max-width: 100%;
  border: solid 1px white;
  min-height: 60px;
  display: block;
  background: mat-color($primaryPalette);
  border-radius: 4px;
  overflow: hidden;
}

.item {
  padding: 20px 10px;
  border-bottom: solid 1px white;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: mat-color($primaryPalette);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px mat-color($accentPalette, 200),
    0 8px 10px 1px mat-color($accentPalette, 200),
    0 3px 14px 2px mat-color($accentPalette, 200);
  background: mat-color($accentPalette);
  color: mat-contrast($accentPalette, 200);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.items.cdk-drop-list-dragging .item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  background: mat-color($primaryPalette, 200);
}
