.items {
  width: 500px;
  max-width: 100%;
  border: solid 1px white;
  min-height: 60px;
  display: block;
  background: #673ab7;
  border-radius: 4px;
  overflow: hidden;
}

.item {
  padding: 20px 10px;
  border-bottom: solid 1px white;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: #673ab7;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px #f57f17, 0 8px 10px 1px #f57f17,
    0 3px 14px 2px #f57f17;
  background: #f9a825;
  color: black;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.items.cdk-drop-list-dragging .item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  background: #ce93d8;
}
