.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  mat-checkbox {
    align-self: flex-start;
  }
  mat-form-field {
    width: 100%;
  }
}

.spinners {
  display: flex;
  justify-content: space-around;
}
